USE [master]
GO
/****** Object:  Database [NufusAdresSistemi]    Script Date: 3/30/2018 12:16:59 AM ******/
CREATE DATABASE [NufusAdresSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NufusAdresSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NufusAdresSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NufusAdresSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NufusAdresSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NufusAdresSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NufusAdresSistemi]
GO
USE [NufusAdresSistemi]
GO
/****** Object:  Table [dbo].[il]    Script Date: 3/30/2018 12:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[il](
	[il_plaka_kodu] [int] NOT NULL,
	[il_adi] [nvarchar](50) NOT NULL,
	[lokasyon] [geography] NOT NULL,
	[latitude] [float] NULL,
	[longtitude] [float] NULL,
 CONSTRAINT [PK_il] PRIMARY KEY CLUSTERED 
(
	[il_plaka_kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilce]    Script Date: 3/30/2018 12:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilce](
	[ilce_kodu] [int] NOT NULL,
	[ilce_adi] [nvarchar](50) NOT NULL,
	[lokasyon] [geography] NOT NULL,
	[il_id] [int] NOT NULL,
	[latitude] [float] NULL,
	[longtitude] [float] NULL,
 CONSTRAINT [PK_ilce] PRIMARY KEY CLUSTERED 
(
	[ilce_kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[koy_mahalle]    Script Date: 3/30/2018 12:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[koy_mahalle](
	[koy_mh_kodu] [int] NOT NULL,
	[koy_mh_adi] [nvarchar](50) NOT NULL,
	[lokasyon] [geography] NOT NULL,
	[ilce_id] [int] NOT NULL,
	[latitude] [float] NULL,
	[longtitude] [float] NULL,
 CONSTRAINT [PK_koy_mahalle] PRIMARY KEY CLUSTERED 
(
	[koy_mh_kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parti]    Script Date: 3/30/2018 12:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parti](
	[parti_name] [nvarchar](50) NOT NULL,
	[oy_orani] [int] NOT NULL,
	[lokasyon_id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ilce]  WITH CHECK ADD  CONSTRAINT [FK_ilce_il] FOREIGN KEY([il_id])
REFERENCES [dbo].[il] ([il_plaka_kodu])
GO
ALTER TABLE [dbo].[ilce] CHECK CONSTRAINT [FK_ilce_il]
GO
ALTER TABLE [dbo].[koy_mahalle]  WITH CHECK ADD  CONSTRAINT [FK_koy_mahalle_ilce] FOREIGN KEY([ilce_id])
REFERENCES [dbo].[ilce] ([ilce_kodu])
GO
ALTER TABLE [dbo].[koy_mahalle] CHECK CONSTRAINT [FK_koy_mahalle_ilce]
GO
ALTER TABLE [dbo].[parti]  WITH CHECK ADD  CONSTRAINT [FK_parti_il] FOREIGN KEY([lokasyon_id])
REFERENCES [dbo].[il] ([il_plaka_kodu])
GO
ALTER TABLE [dbo].[parti] CHECK CONSTRAINT [FK_parti_il]
GO
USE [master]
GO
